:root {
    --scale-factor: 1;
    --font-base: calc(1rem * var(--scale-factor));
}

@font-face {
    font-family: 'AzoSans';
    src: url("https://db.onlinewebfonts.com/t/d03165bd677535fe8da7479e26b13180.eot");
    src: url("https://db.onlinewebfonts.com/t/d03165bd677535fe8da7479e26b13180.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d03165bd677535fe8da7479e26b13180.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d03165bd677535fe8da7479e26b13180.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d03165bd677535fe8da7479e26b13180.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d03165bd677535fe8da7479e26b13180.svg#Azo Sans Uber W01 Regular")format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin';
    src: url('fonts/AcuminVariableConcept.otf') format('opentype');
    font-weight: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: auto;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100vh; /* Ensure minimum height is always 100% of the viewport height */
    margin: 0;
    padding: 0;
    background-color: #DAC106;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
}

.black {
    color: black;
}

#header {
    font-family: "AzoSans", sans-serif;
    text-align: left;
    margin-left: 20%;
    font-size: calc(22px * var(--scale-factor));
    font-weight: 600;
}

#header img {
    margin-right: 13px;
}

#main-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    margin-top: 6vw;
    padding: 0;
    height: auto;
}

#main-header h1 {
    align-self: flex-end;
    width: min-content;
    font-weight: normal;
    font-size: 10vw;
    line-height: 9.4vw;
}

main header {
    font-family: "AzoSans", sans-serif;
    padding: 0;
    text-align: left;
    color: white;
}

main header h1, main header h3 {
    margin: 0;
}

main header h1 {
    font-weight: 700;
    font-size: calc(40px * var(--scale-factor));
}

main header h3 {
    font-family: "Acumin";
    font-weight: lighter;
    font-size: 4.2vw;
    color: white;
    text-align: right;
    margin-top: calc(10px * var(--scale-factor));
}

header, footer {
    text-align: center;
    padding: 10px;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-between; /* Center the content vertically */
    align-content: space-between;
    background-size: cover;
    background-position: center center;
    width: 100%; /* Ensure width is always 100% */
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media (max-width: 1780px) {
    main {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 95"><polygon points="0,0 100,0 100,64.33 0,77.67" fill="%238326EF"/><polygon points="0,77.67 100,64.33 100,95 0,95" fill="%23DAC106"/></svg>');
    }
}

@media (min-width: 1781px) {
    main {
        flex: 1;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 900"><polygon points="0,0 1200,0 1200,450 0,550" fill="%238326EF"/><polygon points="0,550 1200,450 1200,900 0,900" fill="%23DAC106"/></svg>');
    }
}

.red-oval {
    display: flex;
    background-color: #C74613;
    border-radius: 5vw;
    color: white;
    padding: 1vw;
    font-size: 2vw;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#salario {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    justify-content: unset;
    align-self: unset;
    margin: 0 0 7vw;
}

#indices {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-bottom: 13px;
    width: 90vw;
}

.salario-content {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    margin-bottom: 37px;
}

.ovals-container {
    display: grid;
    grid-template-areas:
        "a b"
        ". c";
    grid-template-columns: max-content;
    flex-direction: row;
    width: 90vw;
}

.ovals-container .fuente {
    grid-area: c;
}

.ovals-container .red-oval {
    flex: 1;
}

.ovals-container .monto-input {
    margin-right: 2vw;
}

#salario header {
    font-size: 4vw;
    margin-bottom: 2vw;
    align-self: start;
}

#salario .principios {
    margin-top: 20px;
    margin-bottom: 10px
}


#indices select {
    font-family: 'Montserrat';
    font-weight: 100;
    width: 85%;
    font-size: 3vw;
    color: white;
    padding-right: 30px;
    margin-right: 5px;
    background-color: #C74613;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    appearance: none;
    background-image: url(img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 3vw;
    padding-top: 0;
    padding-bottom: 0;
}

#indices select:focus {
    background-image: url('img/up-arrow.svg'); /* Blue down arrow image when focused */
}

#indices select option {
    font-weight: 100;
}

#indices .select-container {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 90vw;
    margin-bottom: 24px;
}

#indices .select-container .red-oval {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    flex: 1;
    justify-content: center;
}

#indices .select-container .red-oval:nth-child(1) {
    margin-right: 2vw;
}

#indices .select-container .red-oval.monto-peso {
    margin-bottom: 10px;
}

#indices > header {
    margin-bottom: calc(10px * var(--scale-factor));
    font-size: 4vw;
    align-self: center;
}

.monto-input {
    position: relative;
    justify-content: center;
    grid-area: a;
}

.dolar-anterior {
    grid-area: b;
}

.monto-peso {
    font-family: 'Montserrat';
    font-size: 3vw;
    font-weight: 600;
}

.monto-input .monto-peso {
    position: absolute;
    left: 4vw;
    top: 23%;
}

#salario input {
    font-family: 'Montserrat';
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    border-radius: 0;
    outline: none;
    padding-left: 10vw;
    padding-bottom: 2%;
    -webkit-appearance: none;
    color: white;
    max-width: 67%;
}

#salario input::placeholder {
    color: white;
    font-weight: 100;
}

#blue-pasado {
    margin-left: 3vw;
}

.actualizado {
    font-size: 3vw;
    padding-left: 4vw;
    padding-bottom: 2.5vw;
    padding-top: 2.5vw;
}

.indice {
    position: relative;
    width: 100%;
    height: 28px;
    padding: 12px 0 8px 0;
    margin-top: 10px;
    background: #FAFAFA;
    box-shadow: 0px 2px 2px rgba(52, 74, 251, 0.25), inset 0px 2px 0px #344AFB;
    border-radius: 0px 0px 5px 5px;

}

.indice .peso {
    position: absolute;
    left: 10px;
    color: #011082;
}

.indice .monto {
    margin-left: 25px;
    font-weight: 700;
    font-size: calc(18px * var(--scale-factor));
    line-height: calc(23px * var(--scale-factor));
    letter-spacing: calc(0.05em * var(--scale-factor));

    color: #344AFB;
}

.indice .nombre {
    position: absolute;
    right: 21px;
    color: #011082;
}

.fuente {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2vw;
    color: white;
    margin-left: 1vw;
    margin-top: 1vw;
}

.pobre {
    align-self: end;
    margin-bottom: 1vw;
}

.pobre .fuente {
    margin-top: 0;
}

#devaluo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    width: 90vw;
}

#devaluo header {
    font-size: 5vw;
    color: white;
}

#porcentaje {
    max-width: 100%;
    font-family: 'AzoSans', sans-serif;
    font-size: 35vw;
    align-self: center;
    display: flex;
}

#porcentaje div {
    line-height: 40vw;
    overflow: hidden;
    color: white;
}

/* Media query para hacer ajustes en tamaños de pantalla más pequeños */
@media screen and (min-width: 1780px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #DAC106;
    }

    body {
        display: flex;
        flex-direction: column;
        font-family: "DM Sans", sans-serif;
    }

    .black {
        color: black;
    }

    #header {
        font-family: "AzoSans", sans-serif;
        text-align: left;
        margin-left: 20%;
        font-size: 22px;
        font-weight: 600;
    }

    #header img {
        margin-right: 13px;
    }

    #main-header {
        display: flex;
        flex-direction: column;
        flex: 0 0 34%;
        height: 40%;
        padding-top: 75px;
        padding-left: 115px;
        margin: 0;
    }

    #main-header h1 {
        align-self: flex-end;
        width: min-content;
        font-weight: normal;
        font-size: 95px;
        line-height: 77px;
    }

    main header {
        font-family: "AzoSans", sans-serif;
        padding: 0;
        text-align: left;
        color: white;
    }

    main header h1, main header h3 {
        margin: 0;
    }

    main header h1 {
        font-weight: 700;
        font-size: 40px;
    }

    main header h3 {
        font-family: "Acumin";
        font-weight: lighter;
        font-size: 30px;
        color: white;
        text-align: right;
        margin-top: 10px;
    }

    header, footer {
        text-align: center;
        padding: 10px;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; /* Center the content vertically */
        align-content: space-between;
        background-size: cover;
        background-position: center center;
    }

    .red-oval {
        display: block;
        background-color: #C74613;
        border-radius: 42px;
        color: white;
        padding: 25px;
        font-size: 25px;
        margin-bottom: 19px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .container img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    #salario {
        flex: 0 0 40%;
        height: 40%;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: flex-end;
        margin: 0 71px 0 0;
    }

    #indices {
        flex: 0 0 46%;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 115px;
        margin-bottom: 124px;
    }

    .salario-content {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        align-items: unset;
    }

    .ovals-container {
        display: block;
        width: auto;
    }

    #salario header {
        font-size: 60px;
        margin-bottom: 15px;
    }

    #salario .principios {
        margin-top: 20px;
        margin-bottom: 10px
    }


    #indices select {
        font-family: 'Montserrat';
        font-weight: 100;
        color: white;
        font-size: 32px;
        padding-right: 30px;
        margin-top: 10px;
        width: 366px;
        margin-right: 5px;
        background-color: #C74613;
        /* line-height: 50px; */
        padding-bottom: 6px;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        appearance: none;
        background-image: url(img/down-arrow.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 31px;
    }

    #indices select:focus {
        background-image: url('img/up-arrow.svg'); /* Blue down arrow image when focused */
    }

    #indices select option {
        font-weight: 100;
    }

    #indices .select-container {
        display: flex;
        align-self: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;
    }

    #indices .select-container .red-oval {
        display: inline-block;
        padding-top: 12px;
        padding-bottom: 15px;
        padding-left: 36px;
        margin-right: 18px;
    }

    #indices .select-container .red-oval.monto-peso {
        margin-bottom: 10px;
    }

    #indices .select-container .red-oval:nth-child(1) {
        margin-right: 18px;
    }

    #indices > header {
        margin-bottom: 10px;
        font-size: 46px;
    }

    .monto-input {
        position: relative;
        padding: 8px 15px 24px 24px;
    }

    .monto-peso {
        font-family: 'Montserrat';
        font-size: 32px;
        font-weight: 600;
    }

    .monto-input .monto-peso {
        position: absolute;
        left: 28px;
        top: 19px;
    }

    #salario input {
        font-family: 'Montserrat';
        margin-top: 10px;
        margin-bottom: 0;
        background: transparent;
        border: 0;
        border-bottom: 2px solid white;
        outline: none;
        padding-left: 37px;
        padding-bottom: 5px;
        -webkit-appearance: none;
        font-size: 32px;
        color: white;
        width: 78%;
    }

    #salario input::placeholder {
        color: white;
        font-weight: 100;
    }

    .ovals-container .monto-input {
        margin-right: 0;
    }

    #blue-pasado {
        margin-left: 0;
    }

    .indice {
        position: relative;
        width: 100%;
        height: 28px;
        padding: 12px 0 8px 0;
        margin-top: 10px;
        background: #FAFAFA;
        box-shadow: 0px 2px 2px rgba(52, 74, 251, 0.25), inset 0px 2px 0px #344AFB;
        border-radius: 0px 0px 5px 5px;

    }

    .indice .peso {
        position: absolute;
        left: 10px;
        color: #011082;
    }

    .indice .monto {
        margin-left: 25px;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.05em;

        color: #344AFB;
    }

    .indice .nombre {
        position: absolute;
        right: 21px;
        color: #011082;
    }

    .fuente {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: black;
        margin-left: 25px;
    }

    #devaluo {
        display: flex;
        flex: 0 0 40%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        min-height: 350px;
        width: auto;
    }

    #devaluo header {
        font-size: 46px;
        color: white;
        margin-right: 157px;
        margin-bottom: 32px;
        min-width: 551px;
    }

    #porcentaje {
        max-width: 100%;
        font-family: 'AzoSans';
        font-size: 330px;
        display: block;
        align-self: unset;
    }

    #porcentaje div {
        line-height: 302px;
        overflow: hidden;
        color: white;
    }
}